[submodule "school-resume"]
	path = school-resume
	url = https://github.com/evanc38/school-resume.git
[submodule "spreading-numbers"]
	path = spreading-numbers
	url = https://github.com/evanc38/spreading-numbers
